<h1>Add a restaurant</h1>

<form class="" action="/yum" method="POST">
  name: <input type="text" name="name" value=""> <br>
  address: <input type="text" name="address" value=""> <br>
  typeOfFood: <input type="text" name="typeOfFood" value=""> <br>
  restaurantImg: <input type="text" name="restaurantImg" value=""> <br>
  rating: <input type="number" name="rating" value=""> <br>
  yelpUrl: <input type="text" name="yelpUrl" value=""> <br>
  mostPopularItems: <input type="text" name="mostPopularItems" value=""> <br>
  reviews: <input type="text" name="reviews" value=""> <br>
  <input type="submit" value="Add">
</form>
