<!DOCTYPE html>
<br>
<h2><a href="http://localhost:3000/yum" >Restaraunt Listing  </a><a href="http://localhost:3000/yum/0">Cherry Blossom Pub </a><a href="http://localhost:3000/yum/1">Old Ebitt Grill </a><a href="http://localhost:3000/yum/new?">Add Page </a><a href="">Contact Us </a></h2>
