<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Welcome to Salam's Restaraunt Pages</h1>
    <p><a href="http://localhost:3000/yum">Enter Here</a></p>
  </body>
</html>
