<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="stylesheets/style.css" media="screen" title="no title" charset="utf-8">
    <meta charset="utf-8">
    <title>Salam's Pages</title>
  </head>
  <body>
    <%-include header%>
    <%-body%>
    <%-include footer%>
  </body>
</html>
